.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
.clr{

  background-color: red;
  height: 150px;
  width: 150px;
}
.green{
  background-color: green;
  height: 150px;
  width: 150px;

}
.yellow{
  background-color: yellow;
}
.containerCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  padding: 12px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn{
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.containerDetails{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  
}
.childDiv{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.childOne{
  display: flex;
  margin-left: 20px;
  gap: 30px;
  align-items: center;
}
.childOne p{
  cursor: pointer;
}
.nav{
  color: beige;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.childTwo img{
  height: 30px;
  width: 30px;
  margin-right: 40px;
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.center > div{
  flex-basis: 33.33%;
}
.center img{
  width: 30px;
  margin-left: -50px;
}
 .search-input{ 
  border: none;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  border: 3px solid #ccc;
}
.cardParent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  
}
.child{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 320px;
  height: 320px;
}
.child img{
  width: 180px;
  height: 180px;
}
.child button{
  background: rgb(3, 233, 3);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: white;
}
.shimmerCard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  background: #373535;
}
.dummyCard{
  display: flex;
  
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 220px;
  height: 220px;
  background-color: #373535;
  border-radius: 8px;
}
.dummyCard button{
  width: 200px;
  height: 15px;
  margin-top: 10px;
  background: #353333;
  border: none;
  border-radius: 5px;
}
.singleProduct{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 25px;
  
  
}
.productContainer{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  
}
.sideBtn{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.category{
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  
}
.login-card{
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*----------------------- login section---------------------- */

.login-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 469px;
  line-height: 20px;
  
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
}
.input-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
}
.login-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  width: 100%;
  background: #F0EDFFCC;
}
.user input{
  border: none;
  background: #F0EDFFCC;
  outline: none;
  
}
.password{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  background: #F0EDFFCC;
  
}
.password input{
  border: none;
  background: #F0EDFFCC;
  outline: none;
}

.login-btn button{
  background: linear-gradient(99.78deg, #9181F4 -5.85%, #5038ED 109.55%);
  box-shadow: 0px 8px 21px 0px #00000029;
  border-radius: 8px;
}
.google{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  
  border: 1px solid #F0EDFF
}
.google button{
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.facebook{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;  
  border: 1px solid #F0EDFF;
}
.facebook button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* ------- login imagesection-------- */
.img-section{
display: flex;
width: 683px;
height: 603px;
gap: 0px;
opacity: 0px;
background: linear-gradient(217.64deg, #9181F4 -5.84%, #5038ED 106.73%);
position: relative;
border-radius: 50px;
}
.bg-img img{
width: 683px;
height: 603px;
border-radius: 50px;
}
.w-png{
  width:785px;
  height:524px;
  
}
.small-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 324px;
  background: linear-gradient(217.64deg, #c9c3f4 -5.84%, #413d5a 106.73%);
  border-radius: 12px;
  position: absolute;
  left: 255px;
  top: 122px;
}
.htext{
margin-bottom: 50px;
color: #ffff;
margin-left: 50px;

}
.spark img{
  width: 79px;
  height:79px;
  border-radius: 50%;
  background:#ffff
  
}
/* --------------Loader------------ */
/* From Uiverse.io by Fernando-sv */ 
.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}